/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html, .owo {
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: text;
  min-width: 1200px;
  font: normal 12px/180% "SimSun";
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
html {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
body, html, .ox {
  padding: 0;
  margin: 0;
  min-height: 900px;
  position: relative;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin:0;
  padding:0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.w1000 {
  width: 1000px;
  margin: 0 auto;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

a {
  color: inherit;
}

@font-face {
  font-family: 'iconfont';  /* project id 1531972 */
  src: url('//at.alicdn.com/t/font_1531972_s6c5i2ue3n.eot');
  src: url('//at.alicdn.com/t/font_1531972_s6c5i2ue3n.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1531972_s6c5i2ue3n.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1531972_s6c5i2ue3n.woff') format('woff'),
  url('//at.alicdn.com/t/font_1531972_s6c5i2ue3n.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1531972_s6c5i2ue3n.svg#iconfont') format('svg');
}

.icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  user-select: none;
}

.fl {
  float: left;
}

.gray {
  background-color: #eeeeee;
}

.message-box {
  display: none;
}

.customer:hover .message-box {
  display: block;
}

.copyright {
  background-color: white;
  padding-top: 20px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track-piece {
  background-color: #d7e5e8;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #ff9a4a;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #d7e5e8;
  -webkit-border-radius: 6px;
}